.vs/API/v16/.suo
.vs/API/config/applicationhost.config
API/appsettings.json
API/bin/Debug/netcoreapp3.0/API.dll
*.pdb
*.json
*.props
*.cache
API/obj/Debug/netcoreapp3.0/API.csproj.FileListAbsolute.txt
*.dll
API/obj/Debug/netcoreapp3.0/API.GeneratedMSBuildEditorConfig.editorconfig

API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/Debug/netcoreapp3.0/API.assets.cache
API/obj/Debug/netcoreapp3.0/API.csproj.AssemblyReference.cache
API/obj/Debug/netcoreapp3.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/netcoreapp3.0/API.assets.cache
API/obj/Debug/netcoreapp3.0/API.GeneratedMSBuildEditorConfig.editorconfig
