@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ajax";
}

@*<div cl ass="pembungkus">


    </div>

    <h1 class="mt-5"> Judul Test </h1>
    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
    <p> Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
    <p>
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
        Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
        Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.
        Vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo.
        Eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst ut arcu enim, dictum quis ultrices id, sagittis eget nulla.
        Sed nunc mi, congue ut ultricies ac, varius a eros donec porttitor, libero fermentum fringilla laoreet, eros arcu sodales ante, ut dictum risus lectus vel quam integer ultricies, nunc eget.
        Elementum euismod, orci enim vestibulum orci, nec suscipit urna odio et tellus suspendisse suscipit orci sit amet sem venenatis nec lobortis sem suscipit nullam nec imperdiet velit mauris eu nisi.
        A felis imperdiet porta at ac nulla vivamus faucibus felis nec dolor pretium eget pellentesque dolor suscipit maecenas vitae enim arcu, at tincidunt nunc pellentesque eleifend vulputate lacus, vel semper.
        Sem ornare sit amet proin sem sapien, auctor vel faucibus id, aliquet vitae ipsum etiam auctor ultricies ante, at dapibus urna viverra sed nullam mi arcu, tempor vitae interdum a.
    </p>*@


@*<h1 class="judul"> Ini Judul</h1>"
    <div class="container">
        <section id="a">
            <p class="p">paragraf 1</p>
            <p class="p">paragraf 2</p>
            <a href="#">ini link</a>
            <p class="p">paragraf 3</p>

        </section>
        <section id="b">
            <p id="a" class="b"> paragraf 4 </p>
            <ul>
                <li class="list">list 1</li>
                <li class="list">list 2</li>
                <li class="list">list 3</li>
            </ul>
        </section>
    </div>*@

@*@section Script{


    }*@

@*<section>
        <div class="container mt-3 mb-3">
            <div class="mb-3">
                <h1 class="ml-auto mr-auto text-md-center" id="judul"> PANDA </h1>
            </div>
            <div class="row">
                <div class="col text-justify">
                    <div class="mb-4 ">
                        Panda Raksasa (Ailuropoda melanoleuca, berarti "Kaki-kucing hitam-putih"; Hanzi sederhana: 大熊猫; Hanzi tradisional: 大熊貓; Pinyin: dà xióng māo; Jyutping: daai6 hung4 maau1, berarti "kucing beruang besar") atau diringkas Panda, adalah seekor mamalia yang biasanya diklasifikasikan ke dalam keluarga beruang, Ursidae, yang merupakan hewan asli Tiongkok Tengah. Panda Raksasa tinggal di wilayah pegunungan, seperti Sichuan dan Tibet.
                        Pada setengah abad ke-20 terakhir, panda menjadi semacam lambang negara Tiongkok, dan sekarang ditampilkan pada uang emas negara tersebut.
                    </div>
                    <div class="">Panda Raksasa memiliki cakar yang ganjil, dengan "jempol" dan lima jari; "jempol" ini sebenarnya tulang-pergelangan tangan yang termodifikasi. Stephen Jay Gould menulis esai tentang topik ini, lalu menggunakan judul The Panda's Thumb untuk buku kumpulan esainya.</div>
                </div>
                <div class="col text-justify">
                    <div class="">
                        Meskipun secara taksonomi ia adalah karnivora, makanannya seperti herbivora, sebagian besar tumbuh-tumbuhan, hampir hanya bambu saja. Secara teknis, seperti banyak hewan, panda adalah omnivora, karena diketahui mereka juga makan telur, dan juga serangga selain bambu. Kedua makanan ini adalah sumber protein yang diperlukan. Telinganya bergerak-gerak saat mereka mengunyah.
                        Panda Raksasa juga masih bersaudara dengan Panda Merah, tetapi mereka dinamai mirip sepertinya karena kebiasaan mereka memakan bambu. Sebelum hubungannya dengan Panda Merah ditemukan pada tahun 1901, Panda Raksasa dikenal sebagai beruang berwarna dua.
                        Selama puluhan tahun, klasifikasi taksonomi panda yang tepat diperdebatkan karena baik Panda Raksasa maupun Panda Merah memiliki ciri-ciri seperti beruang dan rakun.
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-3 mb-3" id="container2">
            <div class="mb-3" id="subJudul">
                <h1 class="text-lg-center"> Kegunaan dan interaksi terhadap manusia </h1>
            </div>
            <div class="row">
                <div class="col text-justify ">
                    <div class="mb-4 ">Panda Raksasa pertama kali dikenal di dunia Barat pada 1869 oleh misionaris Prancis Armand David (1826–1900). Panda Raksasa lama menjadi hewan favorit masyarakat, sebagian karena spesies ini lucu seperti bayi, mirip dengan boneka beruang hidup. Panda juga sering digambarkan sedang berbaring santai sambil makan bambu, bukan berburu, sehingga meningkatlah citranya sebagai hewan manis dan cinta damai.</div>
                    <div class="">Panda Raksasa termasuk dalam spesies rentan yang diakibatkan oleh kehilangan habitat dan tingkat kelahiran sangat rendah. Sekitar 1.600 diyakini masih hidup di alam. Panda Raksasa adalah lambang World Wildlife Fund (WWF), organisasi pelestarian alam.</div>
                </div>
                <div class="col" id="gambar">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Panda.jpg/250px-Panda.jpg" alt="Panda.jpg" width="350" />
                </div>
            </div>
            <p></p>
        </div>

        <button class="btn-submit" onclick="gantibg();">  Cek Tombol  </button>

    </section>*@

<div class="text-center mt-3 mb-4">
    <img src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png" alt="PokéAPI" />
</div>
<table class="table table-borderless table-striped">
    <thead>
        <tr class="text-center font-weight-bold " id="rowawal">
            <td>No</td>
            <td>Name</td>
            <td>Url</td>
            <td>Detail</td>
        </tr>
    </thead>
    <tbody class="text-center text-capitalize" id="tablepokemon"></tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="modalPokemon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center" id="exampleModalLongTitle">Pokédex</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="imagPokemon" align="center"> </div>
                <div class="text-center font-weight-bold text-capitalize" id="pokemonName"></div>
                <table class="table table-borderless table-striped">
                    <thead>
                        <tr class="text-center font-weight-bold">
                            <td>Height</td>
                            <td>Weight</td>
                            <td>Ability</td>
                            <td>Type</td>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="pokedex"> </tbody>
                </table>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
