@{
    ViewData["Title"] = "Charts";
    Layout = "_LayoutAdmin";
}
<div class="row">
    <div class="col-sm">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Test Card</h6>
            </div>
            <div class="card-body">
                lorem impsum dolor
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Chart</h6>
            </div>
            <div class="card-body">
                <div id="chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Chart from API</h6>
            </div>
            <div class="card-body">
                <div id="chartGender"></div>
            </div>
        </div>
    </div>
</div>

