@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Datatables";
}


<div class="text-center mt-3 mb-4">
    <h1>List Pegawai</h1>
</div>
<div class=" text-left mt-2 mb-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formModal">Tambah/Edit Pegawai</button>
</div>

<table class="table table-borderless" id="tableEmployee">
    <thead>
        <tr class="font-weight-bold " id="rowawal">
            <th>NIK</th>
            <th>Full Name</th>
            <th>Salary</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody class="align-middle"></tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center" id="exampleModalLongTitle">Registration</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Submit">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body needs-validation" novalidate>
                <form class="is-invalid" id="inputForm" name="inputForm">
                    <div class="form-row">
                        <div class="col mb-3">
                            <label for="nik">NIK</label>
                            <input type="text" class="form-control" id="nik" name="nik" placeholder="NIK">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="firstName">Nama Depan</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name">
                        </div>
                        <div class="col">
                            <label for="lastName">Nama Belakang</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="phone">Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">+62</div>
                                </div>
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
                            </div>                          
                        </div>
                        <div class="col">
                            <label for="salary">Gaji</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Rp.</div>
                                </div>
                                <input type="text" class="form-control" id="salary" name="salary" placeholder="Salary">                               
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="birthDate">Tanggal Lahir</label>
                            <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="Birth Date">
                        </div>
                        <div class="form-group mr-3">
                            <label for="gender">Gender</label>
                            <select id="gender" class="custom-select" name="gender">
                                <option value="">Choose...</option>
                                <option value="0">Laki-Laki</option>
                                <option value="1">Perempuan</option>
                            </select>
                            <div class="invalid-feedback" id="group"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="universiyId">Universitas</label>
                        <select id="universiyId" class="custom-select" name="universityId">
                            <option value"">Choose...</option>
                            <option value="1005">Universitas Indonesia</option>
                            <option value="1006">Universitas Andalas</option>
                            <option value="1007">Universitas Trisakti</option>
                            <option value="1008">Universitas Gajah Mada</option>
                        </select>
                        <div class="invalid-feedback" id="group"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="degree">Gelar</label>
                            <select id="degree" class="form-control" name="degree">
                                <option selected>Gelar</option>
                                <option value="Diploma I">Ahli Pratama</option>
                                <option value="Diploma II">Ahli Muda</option>
                                <option value="Diploma III">Ahli Madya</option>
                                <option value="Diploma IV">Sarjana Sains Terapan</option>
                                <option value="S1">Sarjana</option>
                                <option value="S2">Magister</option>
                                <option value="S3">Doktor</option>
                            </select>
                            <div class="" id="group"></div>
                        </div>
                        <div class="col">
                            <label for="gpa">GPA</label>
                            <input type="text" class="form-control" id="gpa" name="gpa" placeholder="scale 4.0">
                        </div>
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="button" id="btnsubmit" class="btn btn-primary" onclick="Validate();">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div> 
            </div>
        </div>
    </div>
</div>

 
